@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-and-shake {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(7deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.1) rotate(-7deg);
  }
  80% {
    transform: scale(0.95) rotate(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.c-infographic {
  @include container;
  @include block;

  &__header {
    margin: 0 0 5rem 0;
    @include bp-small {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: top;
      gap: 2rem;
    }
  }
  &__header-content {
  }
  &__title {
    @include heading-xl;
    color: $red;
  }
  &__subtitle {
    @include body-lg;
    font-weight: 600;
    color: $black;
    text-wrap: balance;
  }
  &__pdf-link {
    width: fit-content;
    height: fit-content;
    @include body-md;
    font-weight: 600;
    color: $red;
    display: inline-flex;
    padding: 1rem 2rem;
    border: 2px solid $red;
    border-radius: 4px;
    text-decoration: none;
    margin: 2rem 0;
    transition: all 0.2s ease;
    &:after {
      transition: all 0.2s ease;
      content: "";
      margin: -3% 0 0 1rem;
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle;
      background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath opacity="0.2" d="M11.875 2.5V6.875H16.25L11.875 2.5Z" fill="%23C10E21"/%3E%3Cpath d="M3.75 10V3.125C3.75 2.95924 3.81585 2.80027 3.93306 2.68306C4.05027 2.56585 4.20924 2.5 4.375 2.5H11.875L16.25 6.875V10" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M11.875 2.5V6.875H16.25" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M3.75 15.625H5C5.33152 15.625 5.64946 15.4933 5.88388 15.2589C6.1183 15.0245 6.25 14.7065 6.25 14.375C6.25 14.0435 6.1183 13.7255 5.88388 13.4911C5.64946 13.2567 5.33152 13.125 5 13.125H3.75V16.875" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M16.875 13.125H14.6875V16.875" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M16.5625 15.3125H14.6875" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M10 16.875C10.4973 16.875 10.9742 16.6775 11.3258 16.3258C11.6775 15.9742 11.875 15.4973 11.875 15C11.875 14.5027 11.6775 14.0258 11.3258 13.6742C10.9742 13.3225 10.4973 13.125 10 13.125H8.90625V16.875H10Z" stroke="%23C10E21" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover,
    &:focus-visible {
      background: $red;
      color: $white;
      &:after {
        filter: invert(1) brightness(10);
      }
    }
    &:focus-visible {
      outline: 3px solid $red;
      outline-offset: 3px;
    }
  }

  // privacy
  &__privacy {
    table,
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    caption {
      @include heading-sm;
      text-align: left;
      @include bp-small {
        @include visually-hidden;
      }
    }
    thead {
      @include visually-hidden;
      @include bp-small {
        @include visually-hidden-reset;
      }
    }
    td {
      padding: 4rem 2rem;
      clear: both;
      vertical-align: middle;
      @include body-lg;
      p {
        margin-top: 2rem;
      }
      p strong {
        font-weight: 600;
        color: $red;
      }
      &:first-child {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-bottom: 0;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
      img {
        max-width: 5rem;
        margin: 0 3rem 2rem 0;
        vertical-align: middle;
      }
      img + em {
        font-style: italic;
        font-size: 2rem;
      }
    }
    tr {
      border-top: 2px solid rgba($black, 1);
    }

    @include bp-small {
      table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }
      tbody {
        display: table-row-group;
      }
      tr {
        display: table-row;
        border: none;
        animation: fadeInUp 0.9s cubic-bezier(0.17, 0.67, 0.16, 1.35) forwards;
        opacity: 0;
        transform: translateY(2rem);
        @include sequential-delay(0.75s);
        img {
          animation: pop-and-shake 1.5s ease forwards;
          opacity: 0;
          transform: scale(0.8) rotate(7deg);
        }
      }
      th {
        display: table-cell;
        @include heading-sm;
        display: table-cell;
        text-align: center;
        padding: 4rem;
        color: $red;
      }
      td {
        display: table-cell;
        width: auto;
        border-top: 2px solid rgba($black, 1);
        padding: 4rem;
        vertical-align: top;
        &:first-child {
          display: table-cell;
          padding-bottom: 4rem;
        }
        &:nth-child(2) {
          padding-top: 4rem;
        }
        img {
          float: none;
          max-width: 10rem;
          margin: 0 auto 2rem;
        }
        img + em {
          display: block;
          text-align: center;
          font-style: italic;
          margin: 0 auto;
          max-width: 30rem;
          font-size: 1.8rem;
        }
      }
    }
  }

  // checklist
  &__checklist {
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      gap: 4rem;
      > li {
        position: relative;
        animation: fadeInUp 0.9s cubic-bezier(0.17, 0.67, 0.16, 1.35) forwards;
        opacity: 0;
        transform: translateY(2rem);
        @include sequential-delay(0.5s);
        img {
          max-width: 15rem;
          margin: 0 0 2rem 4rem;
          animation: pop-and-shake 1.1s ease forwards;
          opacity: 0;
          transform: scale(0.8) rotate(10deg);
        }
        label {
          display: flex;
          margin-bottom: 2rem;
          cursor: pointer;
          input[type="checkbox"] {
            cursor: pointer;
            margin: 0.25rem 1.5rem 0 0;
            width: 2.5rem;
            height: 2.5rem;
            accent-color: $red;
            flex-shrink: 0;
            &:not(:checked) {
              appearance: none;
              border: 3px solid $red;
              &:hover {
                background: rgba($red, 0.1);
              }
            }
            &:focus-visible {
              outline: 3px solid $red;
              background: rgba($red, 0.1);
            }
          }
          h3 {
            @include heading-md;
            margin: 0;
            color: $red;
          }
        }
        > ul > li {
          @include body-lg;
          margin: 0.5rem 0 0 5rem;
          color: $black;
          list-style-type: disc;
        }
      }
      @include bp-small {
        > li {
          padding: 0 0 0 16rem;
          img {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            max-width: 10rem;
            &.align-bottom {
              bottom: 3rem;
              top: auto;
            }
          }
        }
      }
    }
  }

  // what to expect
  &__what-to-expect {
    & > * {
      animation: fadeInUp 0.9s cubic-bezier(0.17, 0.67, 0.16, 1.35) forwards;
      opacity: 0;
      transform: translateY(2rem);
      @include sequential-delay(0.5s);
    }
    h2 {
      @include heading-lg--alt;
      text-wrap: balance;
      margin: 0 0 2rem 0;
    }
    > ul {
      list-style: disc;
      margin: 0 0 3rem 3rem;
      padding: 0;
      display: grid;
      gap: 2rem;
      > li {
        position: relative;
        strong {
          font-weight: 600;
          color: $red;
        }
      }
    }
  }

  &__tip {
    padding: 4rem 0 3rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    gap: 2rem;
    p {
      margin: 0;
      @include body-xl;
      text-wrap: balance;
      strong {
        font-weight: 600;
        color: $red;
      }
    }
  }
}

// Infographic CTA
.c-infographic-cta {
  @include block;
  background: $red;
  background: linear-gradient(135deg, $red-dark 0%, $red 100%);
  color: $white;

  .container {
    @include container;
    display: grid;
    gap: 4rem;
    @include bp-small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  }
  h2 {
    @include heading-xl;
    margin: 0 0 2rem 0;
    color: $white;
  }
  p {
    text-wrap: balance;
    @include body-lg;
  }
  &__content {
    @include bp-small {
      padding-right: 15%;
    }
  }
  &__media {
    max-width: 15rem;
  }
}
