.page-error {
  @include container;
  @include block;
  @include medium {
    min-height: calc(100vh - 50rem);
  }
  h1,
  h2,
  h3 {
    @include heading-xl;
    font-size: 2.6rem !important; // override inline styles from the CMS

    @include small {
      font-size: 3rem !important;
    }

    @include medium {
      font-size: 4rem !important;
    }
  }
  p {
    @include body-lg;
    font-size: 1.5rem !important; // override inline styles from the CMS
    @include small {
      font-size: 1.8rem !important;
    }
    & + p {
      margin-top: 1.5rem;
    }
    a {
      color: $red;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $red-dark;
      }
      &:focus-visible {
        outline: 2px solid $red;
        outline-offset: 4px;
      }
    }
  }
}
