.phd-video {
  @include block;
  .container {
    @include container-lg;
  }

  .c-video__media {
    position: relative;
    display: block;
    padding: 0;
    border: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: $black;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      max-width: 10rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-image: url('data:image/svg+xml,<svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.2" d="M44 11C37.4732 11 31.093 12.9354 25.6662 16.5615C20.2394 20.1876 16.0097 25.3415 13.512 31.3714C11.0143 37.4014 10.3608 44.0366 11.6341 50.438C12.9074 56.8394 16.0504 62.7194 20.6655 67.3345C25.2806 71.9497 31.1607 75.0926 37.562 76.3659C43.9634 77.6392 50.5986 76.9857 56.6286 74.488C62.6585 71.9903 67.8124 67.7606 71.4385 62.3338C75.0646 56.907 77 50.5268 77 44C77 35.2479 73.5232 26.8542 67.3345 20.6655C61.1458 14.4768 52.7522 11 44 11ZM38.5 55V33L55 44L38.5 55Z" fill="white"/><path d="M44 77C62.2254 77 77 62.2254 77 44C77 25.7746 62.2254 11 44 11C25.7746 11 11 25.7746 11 44C11 62.2254 25.7746 77 44 77Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/><path d="M55 44L38.5 33V55L55 44Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      transition: all 0.2s ease-in-out;
      filter: grayscale(1);
      background-repeat: no-repeat;
      background-position: center;
    }
    img {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      opacity: 0.35;
      transition: opacity 0.2s ease-in-out;
    }
    &:hover,
    &:focus-visible {
      img {
        opacity: 0.65;
      }
      &::after {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
  }
  .c-video__title {
    @include body-sm;
    margin-top: 1rem;
    color: $grey-medium;
  }
}

.video-promo {
  @include block;
  .video-promo__container {
    @include container-lg;
  }
  .video-promo__wrapper > .row {
    display: grid;
    gap: 2rem;
    @include bp-small {
      grid-template-columns: 2fr 1fr;
      gap: 7%;
      align-items: center;
    }
    .video-promo__media {
      @include bp-small {
        order: 2;
      }
    }
  }
  .video-promo__content-title {
    @include heading-lg;
    margin-bottom: 1rem;
  }
  .video-promo__content-text {
    @include body-md;
    margin-bottom: 2rem;
  }
  .video-promo__content-links {
    display: flex;
    gap: 1rem;
    a {
      color: $black;
      font-weight: 700;
      &:hover,
      &:focus-visible {
        color: $red;
      }
    }
  }
  .phd-video {
    padding: 0;
    margin: 0;
    .container {
      padding: 0;
    }
  }
}
