.c-solutions-dashboard {
  @include block;
  h2 {
    @include heading-xl;
    margin-bottom: 1.6rem;
  }

  blockquote {
    @include blockquote;
  }

  &__title {
    @include body-md;
    line-height: normal;
    color: $grey-medium;
    padding-right: 3rem;
    margin-bottom: 2rem;

    .c-solutions-dashboard__help-content & {
      font-weight: 700;
      color: $white;
    }
  }

  &__container {
    @include container;

    @include small {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 6.4rem;
    }

    &:has(.c-solutions-dashboard__content-logos) {
      .c-solutions-dashboard__widgets-container {
        @include small {
          padding-top: 24rem;
        }
      }
    }
  }

  &__content {
    margin-top: 6rem;

    @include small {
      margin: 0 auto;
      max-width: 87.6rem;
    }

    p,
    ul,
    ol {
      @include body-md;
      line-height: 1.63;
      color: $grey-medium;
      margin-bottom: 2.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: inherit;
        text-decoration: underline;
        font-weight: 700;
        &:hover,
        &:focus-visible {
          color: $red;
        }
      }
    }

    ul,
    ol {
      padding-inline-start: 2.5rem;
    }
    li {
      @include body-md;
      line-height: 1.63;
      color: $grey-medium;
    }

    * + h2 {
      margin-top: 4rem;
    }

    img + p {
      margin-top: 2rem;
    }

    h3,
    .h3 {
      @include heading-lg;
      margin-bottom: 2rem;
      color: $black;
    }
    * + h3,
    * + .h3 {
      margin-top: 1.5rem;
    }
  }

  h4,
  .h4 {
    @include heading-md;
    color: $red;
    margin-bottom: 0.75rem;
    em,
    i {
      font-style: italic;
    }
  }
  * + h4,
  * + .h4 {
    margin-top: 1.5rem;
  }

  &__quote {
    padding: 0 6rem;
    text-align: center;

    & p.c-solutions-dashboard__quote--author {
      @include body-sm;
      margin-top: 1.5rem;
      margin-bottom: 5.5rem;
    }
  }

  &__widgets-container:has(*) {
    @include small {
      flex: 1 0 39%;
      align-items: flex-start;
      min-width: 350px;
      position: sticky;
      top: 1rem;
    }
  }

  &__widget-heading {
    @include heading-xs;
    color: $red;
    margin-bottom: 1.2rem;
    margin-left: 0.7rem;
  }

  &__widget {
    margin-bottom: 3.5rem;
    border-radius: 2.4rem;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    @include body-sm;
    color: $white;

    @include small {
      margin-bottom: 6rem;
    }

    &::before {
      content: "";
      width: 3.4rem;
      height: 3.4rem;
      @include bg-logo-icon;
      background-size: cover;
      position: absolute;
      top: 1.3rem;
      right: 1.5rem;
    }

    &:has(.c-solutions-dashboard__topic) {
      background: transparent;
      border-radius: 10000vw;
    }

    &:has(.c-solutions-dashboard__topic)::before {
      width: 3.4rem;
      height: 3.4rem;
      @include bg-logo-icon;
      top: 1.125rem;
      right: 1.5rem;
      z-index: 3;
    }
  }

  &__widget--red {
    background: linear-gradient(180deg, #960010 0%, #c10e21 100%);

    .c-solutions-dashboard__widget-content {
      border-top-left-radius: 2.4rem;
      border-top-right-radius: 2.4rem;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__widget-content {
    padding: 2rem 1.7rem;
  }

  &__help-content {
    min-height: 10.3rem;
  }

  // LOGOS

  &__content:has(.c-solutions-dashboard__content-logos) {
    @include small {
      position: relative;
      margin: 0 auto 0 0;
      max-width: 100%;
      width: 57%;
    }
  }

  &__content-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 3rem;
    align-items: baseline;
    border-top: 1px solid $grey-light;
    padding: 2rem 0 6rem 0;
    max-width: 30rem;
    @include small {
      position: absolute;
      left: 100%;
      top: 0;
      width: 100%;
      max-width: 100%;
      width: 77%;
      gap: 5rem 4rem;
      border: none;
      margin-top: 11rem;
      padding: 0 0 0 8.25rem;
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        background-color: $grey-light;
        top: 0;
        left: 10%;
        bottom: -0.5rem;
        height: calc(100% + 0.5rem);
      }
    }
  }

  &__topic {
    padding: 0;
    overflow: visible;
    border-radius: 1000vw;
    background: transparent;
    a {
      border-radius: 1000vw;
      display: block;
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #960010 0%, #c10e21 100%);
      &::before {
        content: "";
        position: absolute;
        display: block;
        @include bg-spiral;
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 736/798;
        width: 96%;
        top: -17.75rem;
        left: -2rem;
        right: auto;
        transform: rotate(196deg);
      }
      &:hover,
      &:focus-visible {
        background: linear-gradient(90deg, #c10e21 0%, #960010 100%);
        span {
          text-decoration: underline;
        }
      }
      &:focus-visible {
        outline: 2px solid $red;
        outline-offset: 4px;
      }
      img {
        display: none;
      }
      span {
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 3;
        @include icon-link($white, $white);
        display: inline-flex;
      }
    }
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    padding: 0.9rem 2rem 1.5rem;
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
  }

  &__help-link {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    color: $white;
    text-decoration: none;
    letter-spacing: 0.15px;
    &::before {
      content: "";
      display: block;
      width: 2em;
      height: 2em;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__email {
    &::before {
      @include bg-email($white);
    }
  }

  &__phone {
    &::before {
      @include bg-phone($white);
    }
  }

  &__events-container {
    @include extraextra-small {
      display: flex;
      gap: 2rem;
    }

    @include small {
      display: block;
    }
  }

  &__event {
    margin-bottom: 3rem;
    flex: 1;

    &:last-child {
      margin-bottom: 0;
    }

    @include extraextra-small {
      margin-bottom: 0;
    }

    @include small {
      margin-bottom: 3rem;
    }
  }

  &__event-dates {
    display: flex;
    justify-content: space-between;
    background: $red;
    border-radius: 18px;
    color: $white;
    position: relative;

    @include small {
      gap: 4rem;
    }

    &::after {
      content: "";
      display: block;
      width: 3.8rem;
      height: 0.8rem;
      @include bg-arrow-long;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translateY(-50%);

      @include extraextra-small {
        left: 35%;
      }
      @include extra-small {
        left: 40%;
      }
    }
  }

  &__event-name {
    color: $black;
    font-weight: 700;
    margin-top: 1rem;
  }

  &__event-date {
    flex: 0 1 13rem;
    padding: 2rem;
    border-radius: 18px;
    position: relative;
    overflow: hidden;

    @include extraextra-small {
      padding-inline: 1rem;
      flex: 0 1 11rem;
    }
    @include extra-small {
      padding-inline: 2rem;
    }
    @include small {
      flex: 0 1 17.6rem;
    }

    &::before {
      content: "";
      width: 44.2rem;
      height: 44.2rem;
      position: absolute;
      right: 1.5rem;
      bottom: -4.8rem;
      @include bg-spiral;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: bottom;

      @include extraextra-small {
        right: 0.5rem;
      }

      @include small {
        right: 6.1rem;
        bottom: -0.9rem;
      }
    }

    > * {
      position: relative;
    }

    &:last-child::before {
      right: -7.968rem;
      bottom: -13.92rem;
    }
  }

  &__event-month {
    @include heading-xs;
    margin-bottom: 0;
  }

  &__event-day-number {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;

    @include small {
      font-size: 8rem;
    }
  }

  &__event-day-name {
    font-size: 1.5rem;
    line-height: 1.2;

    @include small {
      font-size: 2rem;
    }
  }
}
