@mixin block() {
  position: relative;
  padding-block: 4rem;
  @include small {
    padding-block: 8rem;
  }
  &:has(~ div) {
    padding-block-end: 2rem;
    @include small {
      padding-block-end: 4rem;
    }
  }
  & + * {
    padding-block: 2rem !important;
    @include small {
      padding-block: 4rem !important;
    }
    @media print {
      padding-block: 0 !important;
    }
  }
}

@mixin block-start {
  padding-block-start: 4rem !important;
  @include small {
    padding-block-start: 8rem !important;
  }
  @media print {
    padding-block-start: 0 !important;
  }
}
