$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$offwhite: #faf9f9;
$grey-extra-light: #f5f5f5;
$grey-light: #c0c0c0;
$grey-light-alt: #dcdcdc;
$grey-medium-light: #efefef;
$grey-medium: #696969;
$grey-dark: #3b3b3b;
$black: #000;
$red: #c10e21;
$red-dark: #a20f1e;
$light-yellow: #fffcd2;
$yellow: #ffe2c6;
$orange: #eb5200;
$light-orange: #fdf1eb;
$green: #069b2d;
$light-green: #ecfaf2;
