@mixin container() {
  margin: 0 auto;
  padding-inline: 2rem;
  @include bp-small {
    padding-inline: 5rem;
    max-width: 120rem;
  }
  @media print {
    padding-inline: 0;
    max-width: 100%;
  }
}

@mixin container-lg() {
  margin: 0 auto;
  padding-inline: 2rem;
  @include bp-small {
    padding-inline: 5rem;
    max-width: 134.5rem;
  }
  @media print {
    padding-inline: 0;
    max-width: 100%;
  }
}

@mixin container-sm() {
  margin: 0 auto;
  padding-inline: 2rem;
  @include bp-small {
    padding-inline: 2rem;
    max-width: 90rem;
  }
  @media print {
    padding-inline: 0;
    max-width: 100%;
  }
}

@mixin container-xs() {
  margin: 0 auto;
  padding-inline: 2rem;
  @include bp-small {
    padding-inline: 2rem;
    max-width: 65.875rem;
  }
  @media print {
    padding-inline: 0;
    max-width: 100%;
  }
}
