$xxx-small: 400px;
$extraextra-small: 500px;
$extra-small: 578px;
$small: 768px;
$medium: 1024px;
$large: 1310px;
$extra-large: 1550px;
$xx-large: 1660px;

@mixin bp-xxx-small {
  @media (min-width: $xxx-small) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-extraextra-small {
  @media (min-width: $extraextra-small) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-extra-small {
  @media (min-width: $extra-small) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-small {
  @media (min-width: $small) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-medium {
  @media (min-width: $medium) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-medium-down {
  @media (max-width: $medium) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-large {
  @media (min-width: $large) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-extra-large {
  @media (min-width: $extra-large) {
    @content;
  }
  @media print {
    @content;
  }
}

@mixin bp-xx-large {
  @media (min-width: $xx-large) {
    @content;
  }
  @media print {
    @content;
  }
}

// Visually Hidden (but accessible for screen readers)
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
@mixin visually-hidden-reset {
  position: static !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
  clip: auto !important;
  white-space: normal !important;
}
